<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${products}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${item.imgPath}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.name}"></b>
                    </td>
                    <td>
                        <b th:text="${item.price}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.description}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+item.id}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${item.count}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${products.size() > 0}">
                <button th:disabled="${!canBuy}">Купить</button>
            </form>
            <p th:if="${!paymentServiceDown} and ${!sufficientBalance}" style="color:red;">Недостаточно средств на балансе</p>
            <p th:if="${paymentServiceDown}" style="color:red;">Сервис платежей недоступен, попробуйте позже</p>
        </td>
    </tr>
</table>
</body>

</html>